<f:be.container>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
				</div>
				<div class="right">
					<f:be.pagePath />
					<f:be.pageInfo />
				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<div class="left">
					<a href="#"
						onclick="window.location.href='alt_doc.php?returnUrl='+T3_THIS_LOCATION+'&amp;edit[tx_t3events_domain_model_event][{storagePid}]=new'; return false;"
						title="neue Schulung anlegen">
						<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-new">&nbsp;</span>
					</a>
				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>

		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:render section="main" />
			</div>
		</div>
	</div>
</f:be.container>
