<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">
{namespace ts=DWenzel\T3events\ViewHelpers}
<f:layout name="Default"/>
<f:section name="main">
    <f:comment>
        <f:debug title="demand">{demand}</f:debug>
        <f:debug title="settings" inline="true">{settings}</f:debug>
        <f:debug title="filterOptions">{filterOptions}</f:debug>
        <f:debug title="courses">{courses}</f:debug>
    </f:comment>

    <h1>{f:translate(key: 'header.courses')}</h1>

    <f:comment>Search form</f:comment>
    <f:render partial="Backend/Common/SearchForm"
              arguments="{demand: '{demand}', overwriteDemand: '{overwriteDemand}', filterOptions: '{filterOptions}', showSubjectField: '{settings.search.showSubjectField}'}"/>
    <f:flashMessages />

    <f:comment>Paginated list</f:comment>
    <f:if condition="{courses}">
        <f:then>
            <f:be.widget.paginate
                    objects="{courses}"
                    as="paginatedCourses"
                    configuration="{settings.paginate}"
            >
                <div class="panel panel-space panel-default recordlist">
                    <table class="table table-striped table-hover typo3-dblist">
                        <thead>
                        <tr class="c-headline">
                            <th class="col-icon">ID</th>
                            <th class="col-title">{f:translate(key: 'label.title', default: 'Title')}</th>
                            <th class="col-control"></th>
                            <th>{f:translate(key: 'label.eventType', default: 'Event Type')}</th>
                            <th>{f:translate(key: 'label.genres', default: 'Genres')}</th>
                            <th>{f:translate(key: 'label.audience', default: 'Audience')}</th>
                        </tr>
                        </thead>
                        <f:for each="{paginatedCourses}" as="course">
                            <tr class="db_list_normal">
                                <td nowrap="nowrap">{course.uid}</td>
                                <td nowrap="nowrap">
                                    <a class="action-open"
                                       title="Edit"
                                       href="{ts:be.editRecord(parameters:'edit[tx_t3events_domain_model_event][{course.uid}]=edit&moduleName=Events_T3eventsCourseM4')}">{course.headline}</a>
                                </td>
                                <td nowrap="nowrap" class="col-control">
                                    <div class="btn btn-default">
                                        <a class="action-open"
                                           title="Edit"
                                           href="{ts:be.editRecord(parameters:'edit[tx_t3events_domain_model_event][{course.uid}]=edit&moduleName=Events_T3eventsCourseM4')}">{f:translate(key: 'button.edit', default: 'edit')}</a>
                                    </div>
                                </td>
                                <td nowrap="nowrap">{course.eventType.title}</td>
                                <td >
                                    <f:for each="{course.genre}" as="genre" iteration="genreIteration">
                                        {genre.title}{f:if(condition: '{genreIteration.isLast}', else: ', ')}
                                    </f:for>
                                </td>
                                <td>
                                    <f:for each="{course.audience}" as="audience" iteration="audienceIteration">
                                        {audience.title}{f:if(condition: '{audienceIteration.isLast}', else: ', ')}
                                    </f:for>
                                </td>
                            </tr>
                        </f:for>
                    </table>
                </div>
            </f:be.widget.paginate>
        </f:then>
    </f:if>
</f:section>

<f:comment>Header buttons</f:comment>
<f:section name="headerButtons">
    <div class="btn-toolbar">
        <div class="btn btn-default">
            <a class="action-document-new"
               title="{f:translate(key: 'button.addCourse', default: 'add course')}"
               href="{ts:be.editRecord(parameters:'edit[tx_t3events_domain_model_event][{settings.courseBackend.storagePid}]=new&defVals[tx_t3events_domain_model_event][tx_extbase_type]=Tx_IhkofEvents_Course&moduleName=Events_T3eventsCourseM4')}">
                {f:translate(key: 'button.addCourse', default: 'add course')}</a>
        </div>
    </div>
</f:section>
