Unter
<a href="http://www.dakosy.de/support/schulung/schulungstermine/">http://www.dakosy.de/support/schulung/schulungstermine/</a> finden Sie mögliche Ausweichtermine sowie weitere Schulungsangebote.
<br>
<br>
Wir würden uns freuen, wenn wir Sie bald bei uns begrüßen können.<br>
<br><br>

Herzliche Grüße vom Schulungsteam!<br><br>
<img
	src="http://www.dakosy.de/{f:uri.resource(path: 'Images/logo_dakosy_signatur.gif', extensionName: 'dakosy_reservations')}
"
	/><br>
<b>DAKOSY Datenkommunikationssystem AG</b><br>
Mattentwiete 2, 20457 Hamburg<br>
<a href="http://www.dakosy.de">http://www.dakosy.de</a><br>
<br>
<table>
	<tr>
		<td><b>Phone:</b></td>
		<td>+ 49 40 370 03 - 0</td>
	</tr>
	<tr>
		<td><b>Fax:</b></td>
		<td>+ 49 40 370 03 - 370</td>
	</tr>
	<tr>
		<td colspan="2"><a href="mailto:schulung@dakosy.de">schulung@dakosy.de</a></td>
	</tr>
</table>
-----------------------------------------------------------------<br>
Sitz der Gesellschaft: Hamburg, HRB 78314<br>
Aufsichtsrat: Dr. Johann Killinger (Vors.)<br>
Vorstand: Dieter Spark, Ulrich Wrage<br>
-----------------------------------------------------------------<br>
