<f:layout name="Default" />
This Template is responsible for creating a list of lessons.

<f:section name="main">
	<f:if condition="{settings.debug.lesson.settings}">
		<f:debug title="settings">{settings}</f:debug>
	</f:if>
	<f:if condition="{settings.debug.lesson.list}">
		<f:debug title="demand">{demand}</f:debug>
		<f:debug title="lessons">{lessons}</f:debug>
		<f:debug title="storagePid">{storagePid}</f:debug>
	</f:if>
	<f:if condition="{settings.templateLayout} == 2">
		<f:then>
			<div class="lesson-list short">
				<f:flashMessages />
				<f:render section="lessonShortList" arguments="{lessons: lessons, settings: settings}" />
			</div>
		</f:then>
		<f:else>
			<div class="lesson-list">
				<f:flashMessages />
				<f:if condition="{lessons->f:count()} > 20">
					<f:then>
						<f:render section="pagination" arguments="{lessons: lessons, settings: settings}" />
					</f:then>
					<f:else>
						<f:render section="lessonList" arguments="{lessons: lessons, settings: settings}" />
					</f:else>
				</f:if>
			</div>
		</f:else>
	</f:if>
</f:section>

<f:section name="pagination">
	<f:widget.paginate objects="{lessons}" as="paginatedLessons" configuration="{itemsPerPage: 20, insertAbove: 1, insertBelow: 1, maximumNumberOfLinks: 3}">
		<f:render section="lessonList" arguments="{lessons: paginatedLessons, settings: settings}" />
	</f:widget.paginate>
</f:section>
<f:section name="lessonList">
	<f:for each="{lessons}" as="lesson" iteration="iteration">
		{f:if(condition: '{iteration.isFirst}', then: '
		<hr />
		')}
		<f:render partial="Schedule/ListItem" arguments="{lesson: lesson, settings: settings}" />
		<hr />
	</f:for>
</f:section>

<f:section name="lessonShortList">
	<f:for each="{lessons}" as="lesson" iteration="iteration">
		<f:render partial="Schedule/ListItemShort" arguments="{lesson: lesson, settings: settings}" />
	</f:for>
</f:section>